// Constants
$color-white: #ffffff;
$color-white-second: #f7f7f7;
$color-black: #111111;
$color-black-second: #1c1c1c;

$white: #fdfdff;
$lightgray: #f5f3f4;
$gray: #adb5bd;
$black: #393d3f;
$blue: #4895ef;
$red: #c1121f;
$orange: #ff6b35;
$green: #38b000;
$yellow: #f8e16c;

// Blues
$color-blue-d60: #003566;
$color-blue-d40: #004f99;
$color-blue-d20: #1272cc;
$color-blue-dbase: #0084ff;
$color-blue-lbase: #168fff;
$color-blue-l20: #339dff;
$color-blue-l40: #66b6ff;
$color-blue-l60: #a2d2ff;

// greens
$color-green-d60: #004a15;
$color-green-d40: #00701f;
$color-green-d20: #00952a;
$color-green-dbase: #00ba34;
$color-green-lbase: #17cb49;
$color-green-l20: #45d56d;
$color-green-l40: #74e092;
$color-green-l60: #a2eab6;

// Oranges
$color-orange-d60: #643600;
$color-orange-d40: #955000;
$color-orange-d20: #c76b00;
$color-orange-dbase: #f98600;
$color-orange-lbase: #ff9f2d;
$color-orange-l20: #ffb257;
$color-orange-l40: #ffc581;
$color-orange-l60: #ffd9ab;

// Reds
$color-red-d60: #5d1212;
$color-red-d40: #8c1a1a;
$color-red-d20: #ba2323;
$color-red-dbase: #e92c2c;
$color-red-lbase: #f74141;
$color-red-l20: #f96767;
$color-red-l40: #fa8d8d;
$color-red-l60: #fcb3b3;

// Yellows
$color-yellow-d60: #664f22;
$color-yellow-d40: #997732;
$color-yellow-d20: #cc9e43;
$color-yellow-dbase: #ffc654;
$color-yellow-lbase: #ffd166;
$color-yellow-l20: #ffda85;
$color-yellow-l40: #ffe3a3;
$color-yellow-l60: #ffedc2;

// Purples
$color-purple-d60: #26025c;
$color-purple-d40: #380289;
$color-purple-d20: #4b03b7;
$color-purple-dbase: #5e04e5;
$color-purple-lbase: #580aff;
$color-purple-l20: #793bff;
$color-purple-l40: #9b6cff;
$color-purple-l60: #bc9dff;

// Bounce Transition
$transition-bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
